.p-layout {
  &__header {
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.43);
    color: #333;
    &-bg {
      background: #fff;
      opacity: 0.5;
      height: 60px;
    }
    &-box {
      position: absolute;
      width: 1200px;
      top: 0;
      left: 50%;
      margin-left: -600px;
      margin-top: 15px;
      a {
        color: #000;
      }
      svg {
        color: #000;
      }
      li {
        color: #000;
      }
    }
  }
}
