.p-system {
  width: auto;
  min-width: $--wrapper-min-width;
  min-height: 100vh;
  margin-left: $--aside-width;
  padding-top: $--header-height;
  padding-bottom: $--footer-height;
  background-color: $--background-color-base;

  box-sizing: border-box;
}

.p-system.c-aside--fold {
  margin-left: $--aside-width-fold;

  .c-aside {
    &,
    &__menu {
      width: $--aside-width-fold;
    }

    &__tool {
      left: $--aside-width-fold;

      &-bg {
        left: 0;
        right: auto;
        border-left: 13px solid #d9dee4;
        border-right: 0 !important;
      }

      &-btn {
        left: -7px;
        right: auto !important;

        .svg-icon {
          transform: rotate(180deg);
        }
      }

      &:hover {
        .c-aside__tool-bg {
          border-bottom: 8px solid transparent;
          border-left: 20px solid #d9dee4;
          border-top: 8px solid transparent;
        }
      }
    }
  }

  .c-brand--sm {
    display: inline;
  }

  .c-brand--lg {
    display: none;
  }

  .c-tabs,
  .c-header,
  .c-footer,
  .c-main__iframe {
    left: $--aside-width-fold;
  }
}

.c-system,
.c-main__iframe {
  transition: all 0.2s;
}

.c-tabs,
.c-header,
.c-footer {
  transition: left 0.3s;
}

.c-aside {
  transition: width 0.3s;
}
